.App {
  text-align: center;
}
.App ul {margin:20px 0;}

.App {
  padding: 20px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Updatovaný styl pro tlačítka */
.App button {
  position: relative;
  /*left: 20px;
  text-align: left;  Přidáno pro přepsání text-align: center; z .App */
}

.App .button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.App .button-13:hover {
  background-color: #f7fafa;
}

.App .button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.App .button-13.remove {position:relative; left:30px;}
  

.App input[type="text"] {width:30vw; }
.App input#description {height:10vh;}
.App div.buttons{width:100%; margin: 20px auto;}
.App div.addProperty {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: space-between;
}

div.userId,
div.name,
div.description {
  display: flex;
  justify-content: space-between;
}

